@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Login>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<head>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<div>
    @Html.Partial("LoginPartial")
</div>